.container{
	margin-top: 10%;
	border: 1px solid #b50000;
	border-radius: 3px 3px 0px 0px;
	background-color: white;
}

.brand ,.brand:hover{
	color:#b50000;
	text-decoration: none;
	text-align: center;
}

.accordion-toggle{
	text-decoration:none;
	text-align: center; 
	color:black;
}
.accordion-toggle:hover{
	text-decoration:none;
	color:#b50000;
}

.espaceUser{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	padding:2%;
	text-align: center;
	background-color: white;
}

footer{
	text-align:center;
	color:white;
	background-color:#b50000;
	margin-top: 13%;
	padding-top: 4%;
	width: 100%;
	height:50px;
	border-radius: 3px 3px 3px 3px;
}